$background : #e4e4e4;
$primary: #0269A4;
$secondary: #FFD832;
$fourth: #f3f3f3;
$alert-success: #155724;
$alert-color-success: white;
$alert-danger: #f8d7da;
$alert-color-danger: #721c24;
$alert-background: #d4edda;
$button-success: #78c45f;
$white :  #FFFFFF;



